@import 'Assets/styles/main.scss';

.messages {
    max-width: 400px;
    margin: 40px 0;

    .message {
        color: $gray;
        padding: 4px 10px;
        
        .delete-message {
            cursor: pointer;
            position: absolute;
            top: 6px;
            right: 6px;
            font-size: 14px;
            color: $brand;
            opacity: .2;
            transition: all .3s;
        }

        &:hover .delete-message {
            opacity: 1;
        }
    }

    .sort-by-date {
        float: right;
        font-size: 12px;
        color: $gray;
        cursor: pointer;
    }
}