@import './_variables.scss';

.comment-form {
    position: absolute;
    top: -45px;
}

.comment-input {        
    width: 200px;
    text-align: center;        
    border-radius: 6px !important;
}

.comment-cancel {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 12px;
    color: $brand;
}