@import './_variables.scss';

.waveform-indicator-holder {
    width: 100%;
    height: 120%;
    top: -10%;
    z-index: 10;
    position: absolute;    
}

.hover-indicator {
    width: 1px;
    background: black;
    height: 140%;
    position: absolute;
    left: 0;
    top: -20%;
    box-shadow: 0 0 8px 1px white;
    z-index: 11;

    &:after {
        content: attr(data-time);
        left: -28px;
        position: absolute;
        bottom: -20px;
        color: $brand;
    }    
}