.waveform-holder {
    position: relative;
    height: 20px;
    margin-bottom: 10px;
    background: #eeeeee;   
}

.talk-time {
    background: lightblue;
    position: absolute;
    top: 0;
    border-radius: 4px;
    height: 100%;
}